@{
    ViewBag.Title = "Index";
    ViewBag.CSS = "index.css";
}
<section id="index">
    @*<div id="test">abc</div>*@
    <a id="left" href="/Operator/List/1">
        <div id="attackers">
            ATTACKERS
        </div>
    </a>

    <a id="right" href="/Operator/List/2">

        <div id="defenders">
            DEFENDERS
        </div>
    </a>

</section>
